.jumbotron-container {
  margin: 0 !important;
  min-height: 100vh;
  display: flex;
}
.jumbotron-container .container {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.jumbotron-container .container .dash-navlink {
  display: flex;
  height: 200px;
  width: 200px;
  background: #00000021;
  color: black;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 2rem;
  border-radius: 5px;
}
.jumbotron-container .container .dash-navlink:hover {
  background-color: #333;
  color: white;
}
.dash-navlink:hover {
  text-decoration: none;
}