.verticalPadding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.verticalPaddingSmall {
  padding-top: 3px;
  padding-bottom: 3px;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}

.widthContent {
  width: 96%;
}